.home-header-container {
    height: 60px;
    // border: 1px solid red;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 10000;
    background: white;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            align-items: center;
            .header-logo {
                height: 100%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.5, 0.5);
                margin-left: -45px;
            }
            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }
        .center-content {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            .child-content {
                .sub-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                
                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;
                &.active {
                    opacity: 1;
                    span {
                        color: #f7b500;
                    }
                }
                &:hover {
                    opacity: 0.8;
                    color: #f7b500;
                }
            }
            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.2;
                &.active {
                    opacity: 1;
                    span {
                    color: #002df7;
                    }
                }
                &:hover {
                    opacity: 0.8;
                    color: #002df7;
                }
            }
        }
    }
}

.home-header-banner {
    background-image: url("../../assets/header-background.jpg");
    // background-color: linear-gradient(rgba(0, 0, 0, 0.25), rgba(225, 225, 225, 0.1));
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(225, 225, 225, 0.1));
        padding-top: 15px;
        height: 65%;
        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-top: 30px;
            margin-bottom: 5px;
            color: #e7e4e4;
        }
    
        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: #e7e4e4;
            margin-bottom: 15px;
        }
    
        .search {
            // height: 40px;
            // width: 400px;
            width: fit-content;
            border: 1px solid #f7b500;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border-radius: 30px;
            background-color: #f7b500;
            padding: 15px 20px;
            i {
                margin: 0 5px;
            }
            input {
                height: 30px;
                width: 350px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }
    .content-down {
        height: 35%;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 0.1));
        .options {
            display: flex;
            justify-content: center;
            gap: 30px;
            .options-child {
                width: 100px;
                text-align: center;
                .icon-child {
                    width: 46px;
                    height: 46px;
                    margin: 0 auto;
                    border: 1px solid #bebbbb;
                    background: #bebbbb;
                    border-radius: 50%;
                    padding: 8px;
                    i {
                        font-size: 26px;
                        color: #49bce2;
                    }
                }
                .text-child {
                    font-size: 17px;
                    font-weight: 500;

                    &:hover {
                        color: #49bce2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}